body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #CACACA;
}

.banner-text{
    background-color: #8b8888;
}

.navbar-container{
    background-color: #272B38;
}

.about-container{
    background-color: #01BBBD;
}

.container-education{
    background-color: #EDECEE;
}

.redtype-color{
    color: #f77a76;
}

.circle{
    background-color: #f77a76;
    height: 150px;
    width: 150px;
    border: 2px;
    border-radius: 50%;
    align-content: center;
}